@import url("../../styles/general/reset.css");


    

                                                          /* Section One */
  body{
    background-color: rgba(255, 250, 245, 1);
  }
 
  .firstArea{
    margin-top:  4rem;
    left: 12rem;
  }                                                      
 button{
  background-color:rgba(225, 106, 0, 1);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 0.2rem;
    font-size: 1rem;
    padding: 0.2rem 1.1rem;
    font-weight: 700;
    margin-top: 9rem;
    margin-left: 23rem;
 }
 #bookYear{
  margin-bottom: 1.5em ;
  border: none;
  background-color:rgba(47, 128, 237, 1) ;
  color: rgb(255, 255, 255);
  width: 4.5em;
  height: 1.3em;
  text-align: center;
  font-family: Montserrat;
  font-size: 0.9em;
 }
 .firstArea{
  display: flex;
  justify-content: space-between;
 }
 .bookAbout{
  display: flex;
  flex-direction: column;
  margin-left: 23rem;
  background-color:rgba(255, 250, 245, 1);
 }
 .bookInfo{
margin-top: 2em;
width: 42rem;
height: 15rem;
font-family: Montserrat;
font-size: 1.2em;
font-weight: 400;
line-height: 2rem;
text-align: left;
 }
 .bookName{
width: 18rem;
height: 4rem;
font-family: Montserrat;
font-size: 2em;
overflow: hidden;
display: inline-block;
text-overflow: ellipsis;
white-space: nowrap;

 }
 .addedDay{
 margin-top: -1.5rem;
 font-family: Montserrat;
font-size: 1em;
 }
 .bookAuthor{
  font-family: Montserrat;
  font-size: 1.4em;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;

 }
 .bookImage{
  width: 100%;
  height: 150%;
 }
 img{
  margin-left: 15%;
   margin-top: -6em;
   padding: 13px;
   width: 24rem;  
  
 }


                                                                    /* Section Two */

.secondArea{
  display: flex;
  flex-direction: column;
}
                                                                    /* Obvious comment*/
.commentObvious{
  display: flex;
  flex-direction: row;
  margin-left: 23rem;
  margin-top: 10rem;
  background-color: grey;
  width: 42rem;
}
input{
width: 42rem;
height: 3.5em;
border-radius: 0.4em;
font-size:larger;

}
.sendIcon{
  background-color: rgb(221, 108, 27);
  border-radius: 5px;
  text-align: center;
  width: 3.5em;
  height: 4em;
  margin-top: 0%;
  margin-left: 1px;
  z-index: 1;
}
                                                                    /* Anonim comment*/
.commentAnonymous{
  display: flex;
  flex-direction: column;
  margin-left: 23rem;
  margin-top: 10rem;
  width: 42rem;

} 
.yourComment{
background-color: rgba(255, 255, 255, 1);
margin-bottom: 5rem;
border: none;
width: 686px;
height: 167px;
border-radius: 0.5rem;
box-shadow: 0.2rem 0.2rem 0.2rem #cecece;

} 
.headLine{
  display: flex;
  flex-direction: row;
  margin-bottom:5rem ;
  margin-top: 0.8rem;
  margin-left: 1rem;
  font-family: Rubik;
  font-size: 1rem;

}
.time{
  margin-left: 1rem;
}  
.comment{
  margin-left: 1rem;
  margin-top: -3rem;
font-family: Rubik;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;

}                                                               