@import url("../general/fonts/montserratFont.css");
@import url("../general/commonStyle.css");


.navBar .navMenu a:nth-of-type(5) {
  color: #e16a00;
  text-decoration: underline !important;
  font-weight: 700;
}




:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-crimson: "Crimson Text", sans-serif;

}                                                                       


                                                                                   /* Body Area  */


    body {
      background-color: #FFFAF5;
     
    }         
    
    main {
      background-color: #FFFAF5;
      display: flex;
      flex-direction: row;
      margin-top: 90px;
      
    }
    
    
                                                                                /* Search Area */
    
    
    .searchArea {
      display: flex;
      flex-direction: column;
      width: 45%;  
      margin-left: 7rem; 
     
    }
    
    .searchArea h2 {
      color:#241400;
      font-family: Montserrat;
      margin-bottom: 20px;
      margin-left: 0rem;
      font-size: 2em;
      font-weight: 700;
      
    } 
    
    .input {
      height: 4.5rem;
      max-width: 20.3rem;
      font-size: 1em;
      padding: 0.5em;
      font-weight: 400;
      color: #241400;
      outline: none;
      padding-left: 27px;
      border: 0.1rem solid #CECECE;
      border-radius: 0.5rem;
    }
    
    button {
      margin-top: 1.5em;
      width: 20.3rem;
      height: 4rem;
      background-color: #E16A00;
      border: none;
      cursor: pointer;
      font-family: 'Crimson Text', sans-serif;
      color: #FFFFFF;
      border-radius: 0.4em;
      font-size: 1.5em;
      text-align: center;
    } 
    
                                                                                    /* About Book */
    
.aboutBook{
  display: block;
    display: flex;
    justify-content: space-evenly;
    background-color:#ffffff;
    width: 45rem;
    height: 28rem;
    margin-top: 3.7rem;
    box-shadow: 0.3rem 0.3rem 0.2rem  #CECECE;
   }

.bookImage{
      width: 220px;
      height: 270px;
    margin-top: 40px;
    margin-left: 25px;
  
    }
.bookImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.textBook{
  margin-top: 40px;
  margin-left: 15px;
  width: 100%;
  height: 100%;
  overflow-y:scroll;
  background-color:#FFFFFF;

 }

 .bookName{
  color:#241400;
  font-family: Montserrat;
  margin-left: 10px;
  font-size: 20px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
 }
 .bookAuthor{
  color:#241400;
  font-family: Montserrat;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 10px;
 }
.description{
  color:#241400;
  font-family: Montserrat;
  font-size: 13px;
  margin-top: 15px;
  margin-left: 10px;
  width: 400px;
  height: 250px;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;

}
                                                                          /* Swiper class */
                                                  
 swiper-button-prev::after,
.swiper-button-next::after{
      content: '',
    }
.swiper-button-next,
.swiper-button-prev{
      display: block !important;
      width: initial;
      height: initial;
      font-size: 3rem;
      color: #720418 !important ;
    
      
    }
/* .swiper-button-next,.swiper-button-prev{
  z-index: 9999 !important;
  top: 38%  !important;
  position: absolute;
} */



.swiper-button-prev{
 margin-left:500px !important;
 margin-top: -0% !important;
 margin-bottom: 30%  !important;

   
}
.swiper-button-next{
      margin-right: 90px !important;
      margin-top: -0% !important;
      margin-bottom: 10%  !important;
    }
    
.swiper {
      width: 100%;
      height:40% !important;
      margin-left: 5% !important;
      background-color:#FFFAF5;
      margin-bottom: 5%;
    }
.swiper-slide{
      margin: 0px !important;
      display: flex;
      justify-content: space-between;
      align-items: center;
    
    }
    
    

    

    
                                                                        /* Responsive Design */
                                                                        

 @media screen  and (max-width:1440px) {

  .swiper-button-prev{
 margin-left:500px !important;
 margin-top: -10% !important;
 margin-bottom: 30%  !important;

   
}
.swiper-button-next{
      margin-right: 90px !important;
      margin-top: -10% !important;
      margin-bottom: 10%  !important;
    }
    
 }

/* @media screen and (max-width: 540px) {

main{
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  grid-gap:10px;
    }
.searchArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    width: 243px;
    margin-left: 15%;
  }
.input{
    width: 20.10rem;
    margin-left: 10px;
}
button{
    max-width: 20.10rem;
    margin-left: 10px;
}
.searchArea h2{
    margin-left: 15px;
    text-align: center;
    font-size: 25px;
    width: 150px;
}
.aboutBook{
  display: flex;
  flex-direction: column;
 background-color: #FFFAF5;
}
.textBook{
  display: flex;
  flex-direction: column;
  background-color:#FFFAF5;
  width: 250px;
  height: 350px;
}
.bookImage{
margin-left: 125px;
margin-top: -10px;
  width: 210px;
  height: 325px;
  display: inline;
  

}
.bookImage img {
  width: 100%;
  height: 100%;
}
.bookName{
  margin-left: 160px;
}
.bookAuthor{

}
.description{
  color:#241400;
  font-family: Montserrat;
  font-size: 13px;
  margin-top: 15px;
  margin-left: 100px;
  width: 150px;
  height: 0px;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}
.swiper-button-next,
.swiper-button-prev{
      display: none !important;
    
      
    }

}  */
