@import url("../general/fonts/montserratFont.css");
@import url("../general/fonts/crimsonTextFont.css");
@import url('https://fonts.googleapis.com/css?family=Yantramanav:100,300');

@import url("../general/commonStyle.css");

:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-crimson: "Crimson Text", sans-serif;
}






.navBar .navMenu a:nth-of-type(4) {
  color: #e16a00;
  text-decoration: underline !important;
  font-weight: 700;
}


body, html {
  overflow-x: hidden;
  background-color: #FFFAF5;
}

.form-container {
  position: relative;
  width: 78.563rem;
  border-radius: 10px;
  padding: 1.25rem;
  margin: 3.125rem  auto ;

}

h1 {
  margin-left: 0.5rem;
  font-size: 36px;
  color: #241400;
  font-weight: 900;
  font-family: var(--font-montserrat);
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 30px; 
}

.row {
  display: flex;
  gap: 35px;
}

input,textarea {

  font-family: var(--font-crimson);
}

.input-large {
  width: 38.125rem;
  height: 4.688rem;
  padding: 0.625;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.input-note  {
  width: 78.563rem;
  height: 9.563rem;
  padding: 0.625rem;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;

}

.send-button {
  width: 38.125rem;
  height: 4.688rem;
  font-size: 30px;
  background-color: #E16A00;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 400;
  font-family: var(--font-crimson);
  
}

.send-button:hover{
  background-color: #80410a;
}



input {
  padding-left: 1%;
}


.row .input-note {
  padding-left: 1%;
  padding-top: -20%;

}

textarea {
  resize: none;
}



@media (max-width: 768px) {
  .form-container {
      width: 90%;  
      padding: 1rem;
}

 .row {
      flex-direction: column; 
      gap: 1.875rem;
  }

  .input-large {
      width: 100%;  
      height: 3.75rem;  
  }

  .input-note {
      display: none;
  }

  .send-button {
      width: 100%;  
      height: 3.75rem;  
  }

  .form-container h1 {
      font-size: 30px;
      text-align: center; 
  }

  input {
    padding-left: 4%;
  }

}


@media (max-width: 480px) {
  .form-container {
      width: 100%;  
      padding: 10px;
  }

  .input-large {
      height: 50px;  
      font-size: 16px;  
  }

  .input-note {
      height: 6.25rem;  
      font-size: 16px;  
      display: none;
  }

  .send-button {
      height: 3.125rem;
      font-size: 16px;
  }

  .form-container h1 {
      font-size: 1.875rem;  
      text-align: center; 
  }

  input {
    padding-left: 4%;
  }



}






















