@import url("../general/fonts/montserratFont.css");
@import url("../general/fonts/crimsonTextFont.css");
@import url('https://fonts.googleapis.com/css?family=Yantramanav:100,300');
@import url("../general/commonStyle.css");

:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-crimson: "Crimson Text", sans-serif;
}

.navBar .navMenu a:nth-of-type(4) {
  color: #e16a00;
  text-decoration: underline !important;
  font-weight: 700;
}


body,
html {
  background-color: #FFFAF5;
}

.form-container {
  position: relative;
  width: 78.563rem;
  padding: 1.25rem;
  margin: 3.125rem auto;
}

h1 {
  margin-left: 0.5rem;
  font-size: 36px;
  color: #241400;
  font-weight: 900;
  font-family: var(--font-montserrat);
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 30px;
}

.row {
  display: flex;
  gap: 35px;
}

input,
textarea {

  font-family: var(--font-crimson);
}

input,
textarea::placeholder {
  font-family: var(--font-crimson);
}


.input-large {
  width: 38.125rem;
  height: 4.688rem;
  padding: 0.625;
  font-size: 18px;
  border: 2px solid #ccc;
  box-sizing: border-box;
}

.input-note {
  width: 78.563rem;
  height: 9.563rem;
  padding: 0.625rem;
  font-size: 18px;
  border: 2px solid #ccc;
  box-sizing: border-box;
  display: block;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;

}

.send-button {
  width: 38.125rem;
  height: 4.688rem;
  font-size: 30px;
  background-color: #E16A00;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 400;
  font-family: var(--font-crimson);

}

.send-button:hover {
  background-color: #80410a;
}



input {
  padding-left: 1%;
}


.row .input-note {
  padding-left: 1%;
  padding-top: -20%;

}

textarea {
  resize: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal p{
  color: rgb(0, 0, 0);
  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  margin-top: 45px;
}

.modal-content {
  background-color: #ffffff;
  margin: 12% auto; 
  padding: 15px;
  border: 4px solid #ff0000;
  width: 85%; 
  max-width: 450px; 
  border-radius: 15px; 
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2); 
  height: 200px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



@media (max-width: 2491px){
  .form-container {
    margin-top: -2rem;
    width: 100%;
  }
  .send-button {
    width: 40%;
  }
  .input-large {
    width: 85%;
  }
  .row {
    width: 86%;
    margin: 0 auto;
  }
  .input-note{
    width: 100%;
  }

  .form-container h1 {
    font-size: 36px;
    width: 86%;
    margin: 0 auto;
    margin-top: 5rem; 

}

input::placeholder {
  font-weight: 400;
  font-family: var(--font-crimson);
  color: #241400;
}

}

@media (max-width: 1200px) {
  .form-container {
    width: 100%;
    padding: 8%;
  }
  .send-button {
    width: 40%;
  }
  .row {
    width: 100%;
    margin: 0 auto;
  }
  .form-container h1 {
    font-size: 32px;
    width: 100%;

  }
}


 @media (max-width: 1024px) {
  .form-container {
    width:100% ;
    padding: 8%;
  }
  .send-button {
    width: 60% ;
  }
  .form-container h1 {
    font-size: 30px;
    width: 95%;


  }
  .row {
    width: 95%;
    margin: 0 auto;
  }
  input {
    padding-left: 3%;
  }



 }

@media (max-width: 768px) {
  .form-container {
    width: 100%;
    padding: 8%;
  }

  .input-large {
    width: 100%;
  }

  .send-button {
    width: 100%;
    margin: 0 auto;
  }

  .input-note {
    display: none;
  }

  .row {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    width: 100%;
  }

  .form-container h1 {
    font-size: 35px;
    width: 100%;
    text-align: center;
  }

  
}

@media (max-width: 480px) {
  .form-container {
    width: 100%;
    padding: 8%;
  }

  .input-large {
    width: 100%;
    height: 3.5rem;
  }


  .send-button {
    width: 100%;
    height: 3.5rem;

    margin: 0 auto;
  }

  .input-note {
    display: none;
  }

  .form-container h1 {
    font-size: 35px;
    width: 100%;
    text-align: center;
  }

  input {
    padding-left: 3%;
    border-radius: 10px;
    
} 

.modal-content{margin-top: 150px;
  height:180px ;
}
.modal-content p{
  font-size: 25px;
 }




}

 
