@import url("../general/fonts/montserratFont.css");
@import url("../general/fonts/robotoFont.css");
@import url("../general/fonts/rubik.css");
@import url("../general/commonStyle.css");


.navBar .navMenu a:nth-of-type(2) {
  color: #e16a00;
  text-decoration: underline !important;
  font-weight: 700;
}

/* :root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-rubik: "Rubik", sans-serif;
} */

/* =================================================================== */

 body {
   background-color: #FFFAF5;
} 
.main {
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-block: 200px; */
}
/* .swiper-wrapper {
  flex-wrap: nowrap !important;
} */


/* BU OXLARA MESAFE VERMEK UCUN */
.card__content1, .card__content2, .card__content3{
  /* margin-left: 20px;
  margin-right: 30px; */
}

/* BASLIQ HISSELER */
.navBook {
  display: flex;
  margin-left: 18px;
  align-items: center; 
  background-color: #FFFAF5;
}
.allBooks-h2 {
  /* height: 100px; */
  /* background-color:  red; */
  margin-left: 0em;
  margin-right: 0em; 
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: 900;
  color: #241400;
  line-height: 24.5px;
  transition: transform 0.3s ease; 
}
.allBooks-h2:hover{
  transform: scale(1.1);
}

/* only new releases and bestseller header align to the center */
 .section-header {
  margin: 0 auto;
  margin-bottom: 30px;
  font-family: Montserrat;
  color: #241400;
  font-size: 1.6rem;
  width: 30%;
  font-weight: 900;
  line-height: 24.05px;
  text-align: center; 
}
.van {
  /* border: 1px solid red; */
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.van ul {
  width: 400px;
  display: flex;
  /* flex-direction: row; */
  align-items: baseline;
  /* padding-bottom: 30px; */
  /* margin-left: 40px; */
  /* margin-bottom: 60px; */
}
.van li {
 color: #241400;
 text-decoration: none;
  list-style: none;
  margin-right: 2em;
  padding-bottom: 20px;
  /* margin-bottom: 30px; */
  margin-top: 25px;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 25.5px;
  text-align: center;
  margin-inline: 10px;
  transition: transform 0.3s ease;
}
.van li:hover {
  transform: scale(1.1);
}

<<<<<<< catalogHelper
=======

/* ------------------------------------------Book card hissesi */
>>>>>>> main
.card__article {
  background-color: #FFFAF5;
  display: flex;
  justify-content: center;
   
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 180px;
  height: 300px;
  background-color: #FFFFFF;
  text-align: center;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
}
/* .new-sign {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 15px;
  background-color: #EB5757;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 8px 0px #E16A0030;
  /* z-index: 1; */
  /* font-family: Montserrat;
  font-size: 10px;
  font-weight: 900;
  line-height: 17.66px;
  display: flex;
  justify-content: center; 
  align-items: center; */

/* }  */

/* FOR ADJUSTING IMAGES INTO SAME SIZE -----------------Image part*/
.card img{
  cursor: pointer;
  transition: transform 0.3s ease;
}
.card img:hover{
  transform: scale(1.1);
}

.imgBookWrapper{
  height: 170px; 
  width: 110px;
}
.imgBookWrapper img{
  height: 100%;
  width: 100%;
  margin-left: 25px;
  margin-top: 30px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
}


.imgBookWrapper img{
  transform: scale(1.1);
}

/* CARD TEXT  ----------------------------Book aurthor and Book name*/
.cardText{
  margin-top: 50px;
}
button.read-more{
  margin-top: 2px;
}
.read-more{
  margin: auto;
}

.cardText p{
  font-size: 11px;
  color: #241400;
  font-family: Montserrat;
  margin-bottom: 5px;
  padding-left: 5px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  text-align: center;
  width: 11em;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardText h3{
   font-size: 16px;
   margin-bottom: 5px;
   text-align: center;
   width: 7em;
   overflow: hidden;
   display: inline-block;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.cardText h3:hover,
p:hover {
  transform: scale(1.1);
}
button {
  display: flex;
  justify-content: center;
  margin-bottom: 17px;
  text-align: center;
  width: 60%;
  height: 9%;
  color: #fff;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 900;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background:  #E16A00;
  box-shadow: 0px 3px 8px 0px rgba(121, 120, 119, 0.19);
  transition: transform 0.3s ease;
}

.read-more{
  margin: auto;
}

button:hover{
  transform: scale(1.1);
}

button.read-more {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* New releases hissede kartlari ortalamaq ucun class adi elave etdim */
/* .swiper-new-releases .swiper-wrapper {
  justify-content: center; 
} */
/* For adjusting space between rew-releases and follow us part */
/* .swiper-new-releases {
  margin-bottom: 230px;
} */



/*SWIPER CLASS */

/* BURADA NESE PrOBLEM VAR AFTER YAZISI TANINMIR, EKRANDA PROBLEM YOXDUR AMMA ISLEYIR */
.swiper-button-prev::after,
.swiper-button-next::after{
  content: '',
}


.swiper {
  background-color: #FFFAF5;
  width: 80%;
  height: 90%;
  margin-top: 100px;
  margin: 100 auto; 

}
.swiper-wrapper{
  margin: 30px; 
  margin-left: 1px; 
  background-color: #FFFAF5; 
}
.swiperButtons {
  position: relative;
  margin-top: 20px; 
}

.swiper-button-prev1,
.swiper-button-next1 {
  position: absolute !important;
  top: 58% !important;
  transform: translateY(-50%) !important;
  z-index: 9999 !important;
  /* margin-top: 10px; */
}

/* ALL BOOKS SECTION BUTTON */
.swiper-button-next1,
.swiper-button-prev1{
  display: block !important;
  width: initial !important;
  height: initial !important;
  font-size: 3rem !important;
  width: 40px; 
  height: 40px;
  color: #720418 !important;
  /* display: none; */
} 

.swiper-button-prev1{
  left: 0 !important;
  }

.swiper-button-next1{
  right: 0 !important;
}

/* BESTSELLER PART */


.swiper-button-prev2,
.swiper-button-next2 {
  position: absolute !important;
  top: 58% !important;
  transform: translateY(-50%) !important;
  z-index: 9999 !important;
  /* margin-top: 10px; */
}


.swiper-button-next2,
.swiper-button-prev2{
  display: block !important;
  width: initial !important;
  height: initial !important;
  font-size: 3rem !important;
  width: 40px; 
  height: 40px;
  color: #720418 !important;
  /* display: none; */
} 

.swiper-button-prev2{
  left: 0 !important;
  }

.swiper-button-next2{
  right: 0 !important;
}

/* NEW RELEASES PART */


.swiper-button-prev3,
.swiper-button-next3 {
  position: absolute !important;
  top: 58% !important;
  transform: translateY(-50%) !important;
  z-index: 9999 !important;
  /* margin-top: 10px; */
}


.swiper-button-next3,
.swiper-button-prev3{
  display: block !important;
  width: initial !important;
  height: initial !important;
  font-size: 3rem !important;
  width: 40px; 
  height: 40px;
  color: #720418 !important;
  /* display: none; */
} 

.swiper-button-prev3{
  left: 0 !important;
  }

.swiper-button-next3{
  right: 0 !important;
}





         /*======================== BREAKPOINTS =================== */

/* FOR SMALL DEVICES */
@media screen and (max-width: 540px){
  /* .swiper-button-next, .swiper-button-prev{
    display: block !important;
  } */
    .navBook {
    flex-direction: column-reverse;
    
  }

  #btn-prev, #btn-next{
    display: none !important;
  }

 .card__article{
  margin-left: 8%;
 }
 .card{
  width: 70%;
 }

  .navBook h2{
    font-size: 1.4em;

  }

  
  
  .van ul {
    height: 40px;
    margin-bottom: 30px;
    /* margin-left: 30px; */
  }

  .allBooks-h2 {
    order: -1;
    text-align: center;
    margin-left: -10px;
    margin-bottom: -20px;
   
  }
  .van li {
    font-size: 8.5px;
    margin-inline: 10px;
   
    margin-left: 0;
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .section-header{
    width: 80%;
    margin-bottom: 5px;
    margin-right: 35;
  }
  .swiper-new-releases .swiper-wrapper {
    margin-left: 25px;
  }
  
  .cardText{
    padding: 0.1rem;
  }
  
 
  .imgBookWrapper{
    height:150px;
    width: 100px;
    display: flex;
    /* justify-content: flex-end;  */
  }
   
  .imgBookWrapper img{
   object-fit: cover;
   width: 100%;
   height: 100%;
    padding-right: 20px;
    padding-left: 1px; 
    padding-bottom: 10px;
  }
 }  



@media screen and (max-width: 540px){

.swiper-button-next, .swiper-button-prev{
    display: none !important;
  }
  /* .card__content1, .card__content2, .card__content3{ */
    /* margin-left: 30%;
    margin-right: 30%; */
    
  /* } */
  /* .card__article {
   margin-left: 20%;
   margin-right: 20%;
  } */
  .navBook {
    flex-direction: column;
    /* align-items: center; */
  }

  .navBook h2{
    font-size: 1.9em;
  }
  
  
  .van ul {
    margin: 0;
  }
  

  .allBooks-h2 {
    order: -1;
    text-align: left;
    margin-left: 0;
    margin-bottom: -20px;
   
  }
  .van li {
    font-size: 10px;
    margin-inline: 10px;
    /* text-align: left; */
    margin-left: 0;
    margin-right: 20px;
    margin-bottom: 10px;
  }
 
 
  .imgBookWrapper{
    height:1px;
    width: 100px;
    display: flex;
    justify-content: flex-end; 
  }
   
  .imgBookWrapper img{
   object-fit: cover;
   width: 100%;
   height: 100%;
    padding-right: -45px; 
    padding-bottom: -40px;
  }
  /* .card{
     width:100%;
     margin-right: 30px;

  } */
  .card{
    width: 80%;
    margin-left: -20px;
 }
}
/* @media screen and (max-width: 540px){
 
} */

@media screen and (max-width: 599px){
  .swiper-button-next, .swiper-button-prev{
    display: none !important;
  }

  .navBook{
    flex-direction: column;
  }

  #btn-prev, #btn-next{
    display: none !important;
  }

  .van ul {
    display: flex;
    height: 20px;
    padding-left: 20px;
    margin-bottom: 55px;
  }

  .section-header{
    text-align: center;
    margin-left:90px
  }
 }






@media screen and (max-width: 637px){
  .swiper-button-next, .swiper-button-prev{
    display: none !important;
  }
     .section-header{
      white-space: nowrap;
     }

     #btn-prev, #btn-next{
      display: none !important;
    }
     .navBook{
      flex-direction: column;
     }
     
}
/* Burada belke oxlari display-none etdim */
/* @media screen and (min-width: 500px){
  .imgBookWrapper{
    height:140px;
    width: 100px;
   }
   .imgBookWrapper img{
        height: 100%;
        width: 100%;
        
   }
   .navBook {
    flex-direction: row;
    
  }

  .navBook h2{
    font-size: 1.9em;
  }
  
  .van ul {
    margin: 0;
  }
  

  .allBooks-h2 {
    order: -1;
    text-align: left;
    margin-left: 0;
    margin-bottom: -20px;
   
  }
  .van li {
    font-size: 10px;
    margin-inline: 10px;
  
    margin-left: 0;
    margin-right: 20px;
    margin-bottom: 10px;
  }

} */

/* FOR MEDIUM DEVICES */
@media screen and (max-width: 768px){
  /* .swiper-button-next, .swiper-button-prev{
    display: none !important;
  } */
/* .allBookText{
  flex-direction: column;
} */

.navBook{
  flex-direction: column;
}
#btn-prev, #btn-next{
  display: none !important;
}

 .section-header{
    width: 39%;
    margin-bottom: 5px;
  }

    /* .card__content1, .card__content2, .card__content3{
      margin-left: 5%;
          
    } */
    /* allbooks yazisini tek setr-e getirir */
    .allBooks-h2 {
      white-space: nowrap;
      font-size: 1em;
      
    }

    .van li {
      font-size: 12px;
    }

    .van ul {
      display: flex;
      /* flex-wrap: wrap; */
      height: 20px;
      padding-left: 20px;
      margin-bottom: 55px;
      /* margin-left: -20px; */
    }

  .imgBookWrapper{
    height:145px;
    width: 105px;
   }
   .imgBookWrapper img{
    height: 100%;
    width: 100%;
    margin-left: 35px;
 }

  .swiper-button-next,
  .swiper-button-prev{
    display: block !important;
  } 
  .navBook h2{
    font-size: 1.8em;
  }
  

  .imgBookWrapper{
    height:150px;
    width: 110px;
   }
   .imgBookWrapper img{
        height: 100%;
        width: 100%;
        margin-left: 33%;
        /* margin-right: 10%; */
   }
}



/*tenzimlendi, burada belke oxlar goturule biler, all books ile ul arasinda mesafe belke */
@media screen and (max-width:899px){
  .card__content1, .card__content2, .card__content3{
    margin-left: 12%;
  }
  .van {
    /* border: 1px solid red; */
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .van ul {
    width: 380px;
    display: flex;
    /* flex-direction: row; */
    align-items: baseline;
    /* padding-bottom: 30px; */
    /* margin-left: 40px; */
    /* margin-bottom: 60px; */
  }

  

  .van ul{
    padding-left: 10px;
  }

  .section-header{
    white-space: nowrap;
  }
}

@media screen and (max-width: 999px){
  .imgBookWrapper{
    height:145px;
    width: 109px;
   }
   .imgBookWrapper img{
        height: 100%;
        width: 100%;
        margin-left: 35px;
   }
}


/* Bu da bitdi */
@media screen and (min-width: 1000px){
  .imgBookWrapper{
    height:145px;
    width: 109px;
   }
   .imgBookWrapper img{
        height: 100%;
        width: 100%;
        margin-left: 35px;
   }
 
}
/* FOR LARGE DEVICES */
@media screen and (min-width: 1120px){
  .card__article {
    /* margin-inline: -10px; */
  }

  .card__container{
    max-width: 1120px;
  }
}

/* BUra bitib */
@media screen and (min-width: 1440px){
  .imgBookWrapper{
    height:150px;
    width: 110px;
   }
   .imgBookWrapper img{
        height: 100%;
        width: 100%;
        margin-left: 35px;
   }
}


/* TAMAMILE YENIDEN YAZDIGIM KODLAR BURADADIR */
/* Footer ile mesafeni artirir */
.releases{
  margin-bottom: 200px;
}
.test {
  /* border: 1px solid red; */
  padding: 24px 24.73px 17px 25.04px;
}

.test-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  row-gap: 19px;
}

.test-container img {
  width: 134.229px;
  height: 170px;
  object-fit: cover;
  flex-shrink: 0;
  margin-top: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.test-container img:hover{
  transform: scale(1.1);
}

.desc{

}
.desc h3{
  color: var(--, #241400);
font-family: Montserrat;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: 196.187%; 
/* margin-top: 20px; */
cursor: pointer;
transition: transform 0.3s ease;
}

.desc h3:hover{
  transform: slide(1.1);
}
.desc p{
  color: var(--, #241400);
font-family: Montserrat;
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: 196.187%; /* 23.542px */
/* padding-bottom: 0; */

}

.cont-el {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 16px;
  /* border: 1px solid blue; */
}

.cont-el button {
  width: 136px;
  height: 29px;
  /* flex-shrink: 0; */
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.new-sign {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 15px;
  background-color: #EB5757;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 8px 0px #E16A0030;
  /* z-index: 1; */
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 900;
  line-height: 17.66px;
  display: flex;
  justify-content: center; 
  align-items: center;

}



















                                       /* BOOK PAGE CSS */

    /* .information{
        display: flex;
    }                                    */ 


