@import url("../general/fonts/montserratFont.css");
@import url("../general/commonStyle.css");
@import url("../general/loadingSpinner.css");

.navBar .navMenu a:nth-of-type(2) {
  color: #e16a00;
  text-decoration: underline !important;
  font-weight: 700;
}
.loading {
  height: 1.5rem;
  width: 1.5rem;
  border: 0.2rem solid black;
  border-top: 0.2rem solid transparent;
}
body {
  background-color: #fffaf5;
}

/* =====================================> HELPER CLASSES <=================================== */

.hideLoading {
  display: none !important;
}

/* =====================================> MAIN <=================================== */
.main {
  padding: 5% 7%;
  width: 100%;
  background-color: #fffaf5;
  display: flex;
  flex-direction: column;
  gap: 5em;
}

.swiper-button-prev::after {
  display: none;
}
.swiper-button-next::after {
  display: none;
}

/* =====================================> SECTION1 <=================================== */

.sec1 {
  width: 100%;
}

.swiper {
  width: 100%;
  padding: 20px !important ;
  background-color: #fffaf5;
}
.swiper-wrapper {
  width: 100%;
}

.sec1Header {
  padding-inline: 1.2em;
  width: 100%;

  font-size: 16px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.sec1HeaderTitle {
  font-size: 1.5em;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}

.categoryArea {
  font-size: 16px;
  display: flex;
  gap: 2em;
  width: 40em;
  overflow: auto;
  padding: 1em 1.5em;
  margin-inline: auto;
}

.categoryArea::-webkit-scrollbar {
  height: 0.2em;
  background-color: transparent;
}
.categoryArea::-webkit-scrollbar-thumb {
  background-color: black;
  height: 0.1em;
  cursor: pointer;
}
.category {
  text-wrap: nowrap;
  font-size: 0.9em;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;
}

.highlightCategory {
  font-weight: 700;
  transform: scale(1.2);
  color: #ff8a23;
}
.notHighlightCategory {
  opacity: 0.5;
  transform: scale(0.9);
}
/* =====================================> SECTION2 <=================================== */

.sec2 {
  width: 100%;
}

.sec2Header {
  text-align: center;
  width: 100%;
}
.sec2HeaderTitle {
  flex: 1;
  font-size: 1.5em;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}

/* =====================================> SECTION2 <=================================== */

.sec3 {
  width: 100%;
}

.sec3Header {
  text-align: center;
  width: 100%;
}
.sec3HeaderTitle {
  flex: 1;
  font-size: 1.5em;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}

/* =====================================> CARD <=================================== */

.card {
  user-select: none;
  position: relative;
  font-size: 16px;
  background-color: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  gap: 0.7em;
}

.cardImg {
  width: 8.5em;
  height: 14.5em;
  cursor: pointer;
}
.cardImg img {
  height: 100%;
  width: 100%;
  object-fit: fit;
}

.cardTitles {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
}

.cardTitles > p,
.cardTitles > h1 {
  width: 9em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.readMore {
  width: 9em;
  background-color: #e16a00;
  border: medium solid #e16a00;
  outline: none;
  color: white;
  font-weight: 900;
  font-size: 0.8em;
  padding: 10px 0;
  box-shadow: 0px 3px 8px 0px rgba(225, 106, 0, 0.19);
  cursor: pointer;
  transition: all 0.3s;
}
.readMore:hover {
  border: medium solid #e16a00;
  background-color: white;
  color: #e16a00;
}
.newFlag {
  top: 0;
  right: 0;
  position: absolute;
  border-radius: 5px;
  background-color: #eb5757;
  font-family: "Montserrat", sans-serif;
  font-size: 0.6em;
  padding: 3px 10px;
  font-weight: 900;
  color: white;
}
/* =====================================> MEDIA QUERIES <=================================== */

@media screen and (max-width: 1400px) {
  .card {
    font-size: 15px;
  }
}
@media screen and (max-width: 1300px) {
  .card {
    font-size: 13px;
  }
  .categoryArea {
    font-size: 13px;
  }
}

@media screen and (max-width: 900px) {
  .card {
    font-size: 12px;
  }
  .sec1Header {
    align-items: start;
    flex-direction: column;
    gap: 10px;
  }
  .categoryArea {
    padding-inline: 0;
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 420px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}
