@import url("../general/commonStyle.css ");
@import url("../general/loadingSpinner.css");

.navBar .navMenu a:nth-of-type(2) {
  color: #e16a00;
  text-decoration: underline !important;
  font-weight: 700;
}

/* HELPER CLASSES */
.hideLoading {
  display: none !important;
}

/* MAIN PART OF ABOUTPAGE CSS */
body {
  background: #FFFAF5;
}

main {
  padding-inline: 8%;
  margin-bottom: 12rem;
  visibility: hidden;
}




/* ================================== SECTION 1 ============================= */


.firstArea {

  justify-content: start;
  display: flex;

}

/* ----------BACK BUTTON------- */
.backBtn {
  margin-top: 11.1em;
  width: 7.8em;
  height: 2.5em;
  background-color: #E16A00;
  border: none;
  border-radius: 0.3em;
  font-size: 0.9em;
  padding: 0.25em 1, 25em;

  color: #FFF;
  font-family: Montserrat;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: 196.187%;
  text-transform: uppercase;
  cursor: pointer;

}

/* -----------YEAR PART-------------- */
#bookYear {
  /* padding: 0.25em 1,25em; */
  margin-top: 5rem;
  text-align: center;
  /* padding-top: 0.25em; */
  /* padding-left: 1.5em; */
  width: 6em;
  height: 2.1em;
  background-color: #2F80ED;
  border-radius: 0.25em;

  justify-content: start;
  color: #FFF;
  font-family: Montserrat;
  font-size: 0.75em;
  font-style: normal;
  font-weight: 900;
  line-height: 196.187%;

}

/* ----------BOOK NAME PART */
.bookName {
  color: #241400;
  font-family: Montserrat;
  font-size: 2.2em;
  font-style: normal;
  font-weight: 700;
  line-height: 196.187%;
  /* width: 100%; */
  width: 19em;
  /* background-color: #E16A00; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

/* ------------WHEN ADDED THE BOOK ------------- */
.addedDay {
  color: #241400;
  font-family: Montserrat;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  line-height: 196.187%;
  margin-bottom: 0.5em;
  margin-top: -0.8em;
}

/* ------------------AUTHOR NAME PART--------- */
.authorName {
  color: #241400;
  width: 15em;
  /* background-color: red; */
  /* background-color: #E16A00; */
  /* width: 100%; */
  margin-top: -0.5em;
  font-family: Montserrat;
  font-size: 1.3em;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
  margin-bottom: 0.1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.genre {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: 300;
  color: #241400;
  letter-spacing: 2.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0.5em;
}


/* ----------------------BOOK DESCRIPTION------------ */

.bookInfo {
  width: 35em;
  /* height: 15rem; */
  height: auto;
  color: #241400;
  font-family: Montserrat;
  font-size: 1.12em;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
  /* 35.314px */
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

}

.bookInfo.expanded {
  -webkit-line-clamp: unset;
}



.moreDetail {
  text-decoration: none;
  color: #241400;
  font-family: Montserrat;
  font-size: 1.12em;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
  cursor: pointer;
}




/* ------------------IMAGE PART------------ */
.bookImage {
  position: relative;
  margin-top: -2em;
  margin-left: 11em;
  width: 23.6em;
  height: 33em;
  cursor: pointer;
}

.wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.247);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  opacity: 0;
  transition: all 0.3s;
}


.bookIcon {
  color: white;
  font-size: 40px;
}
.genreArea{
  display: flex;
  align-items: center;
  
}
.iconDiv{
 /* background-color: aqua; */
 display: flex;
 gap: 0.8em;
 justify-content: center;
 align-items: center;
  margin-left: 1em;
}

.bookIcon2{
  display: block !important;
  color: #E16A00;
  font-size: 1.2rem;
  margin-bottom: 5px
}

.bookImage:hover .wrapper {
opacity: 1;
}

.bookImage img {
  /* margin-top: -2em; */
  width: 100%;
  height: 100%;
  object-fit: cover;

}



/* --------------NEW BOOK SIGN --------------- */


.newSign {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(235, 87, 87, 1);
  color: white;
  padding: 0.3em 1.5em;
  border-radius: 0.3em;
  box-shadow: 0px 3px 8px 0px #E16A0030;
  z-index: 1;
  font-family: Montserrat;
  font-size: 0.9em;
  text-align: center;
  font-weight: 900;

}



/* =================================== SECOND AREA ======================== */

.secondArea {
  display: flex;
  flex-direction: column;
  justify-content: start;
}


.commentObvious {
  display: flex;
}

.anonimInput {
  /* position: relative; */
  width: 30em;
  height: 3em;
  /* height: auto; */
  margin-top: 5em;
  border-radius: 0.3rem;
  background: rgba(255, 255, 255, 0.80);
  box-shadow: 0 0 10px 2px rgb(196, 186, 186);
  padding: 0.6em;
  padding-left: 1.5em;
  font-size: 1.2rem;
  border: none;
  color: #232323;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1px;
  overflow-y: auto;
  outline: none;

}

/* -----------SEND ICON----------- */

.sendIcon {
  border-radius: 0.3rem;
  background: rgba(255, 255, 255, 0.80);
  box-shadow: 0 0 10px 2px rgb(196, 186, 186);
  margin-left: -0.5em;
  padding: 1rem;
  background-color: #E16A00;
  margin-top: 5.95em;
  width: 3.7em;
  height: 3.7em;
  flex-shrink: 0;
  cursor: pointer;

}

/* Umumi div hansiki dinamik gelecek olan commentleri saxlayir */
.commentAnonymous {
  display: flex;
  flex-direction: column;
  position: relative;

}

/* BU DINAMIK DIVIN OZUDUR */
.yourComment {
  width: 39em;
  font-family: Rubik;
  background-color: rgb(253, 253, 253);
  box-shadow: 0 0 10px 2px rgb(196, 186, 186);
  /* width: 55%; */
  padding: 2em;
  padding-left: 1em;

  font-size: 1rem;
  margin-top: 3.4em;
  border-radius: 0.3rem;
}


/* BU HISSEYE YENIDEN BAX GORUNMURDU DEYISIKLIK */

.anonim {
  display: flex;
  padding-bottom: 1em;
}

/* ANONIM YAZISI */
.anonim h4 {
  color: #232323;
  font-family: Rubik;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* NECE GUN EVVEL YAZILDIGI */

.time {
  margin-left: 1em;
}

.anonim p {
  color: #232323;
  font-family: Rubik;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  /* line-height: 24px;  */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: calc(1.2rem * 4);
}








/* ===================== MEDIA QUERY PART ============================ */


@media screen and (min-width: 1440px) {

  .firstArea {
    display: flex;
    justify-content: space-between;
  }

  /* INPUT PART +*/

}

@media screen and (max-width: 1418px) {
  .firstArea {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
  }

  .bookImage {
    width: 100%;
    max-width: 22.6em;
    height: 100%;
    object-fit: cover;
    margin-left: 0.5em;
  }

  /* INPUT PART */
  .secondArea {
    justify-content: start;
    font-size: 14px;
  }

  .anonimInput {
    width: 28.2em;
    height: 2.7em;
  }

  .sendIcon {

    margin-top: 6.8em;
    padding: 0.7rem;
  }

  .yourComment {
    width: 36.9em;
  }
}

@media screen and (max-width: 1232px) {
  .firstArea {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
  }

  .bookImage {
    width: 100%;
    max-width: 22.6em;
    height: 100%;
    object-fit: cover;
    margin-left: 0.5em;
  }
  .genre{
    font-size: 0.9rem;
  }
  /* INPUT PART */
  .secondArea {
    justify-content: start;
    font-size: 13px;
  }

  .anonimInput {
    width: 24.2em;
    height: 2.5em;
  }

  .sendIcon {
    width: 3.7em;
    height: 3.8em;
    margin-top: 7.3em;
    padding: 0.7rem;
  }

  .yourComment {
    width: 31.7em;
  }
}

@media screen and (max-width:1161px) {
  .firstArea {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }

  .bookImage {
    width: 100%;
    max-width: 22em;
    height: 100%;
    object-fit: cover;
    margin-left: 0.5em;
  }
  .genre{
    font-size: 0.8rem;
  }

  /* INPUT PART */
  .secondArea {
    justify-content: start;
    font-size: 12px;
  }

  .anonimInput {
    width: 22.5em;
    height: 2.3em;
    /* font-size: 12px; */
  }

  .anonimInput::placeholder {
    font-size: 1em;
  }

  .sendIcon {
    margin-top: 8em;
    padding: 0.6rem;
  }

  .yourComment {
    width: 29.5em;
    height: auto;
  }

}

@media screen and (max-width:1090px) {
  .firstArea {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
  }

  .bookImage {
    width: 100%;
    max-width: 21.6em;
    height: 100%;
    object-fit: cover;
    margin-left: 0.5em;
  }

  /* INPUT PART */

  .secondArea {
    justify-content: start;
    font-size: 11px;
  }

  .anonimInput {
    width: 20.5em;
    height: 2.2em;
  }

  .anonimInput::placeholder {
    font-size: 0.99em;
  }

  .sendIcon {
    margin-top: 8.7em;
    padding: 0.5rem;
  }

  .yourComment {
    width: 27em;
  }
}

@media screen and (max-width: 1000px) {

  .genreArea{
    display:flex;
  flex-direction: column;
  gap: 1em;
  }

  .iconDiv{
    gap: 2em;
  }

  .bookIcon2{
    justify-content: center;
    align-items: center;
     font-size: 2rem;
     margin-bottom: 0.7em;
    
  }


  button {
    margin-top: 5em;
  }

  .firstArea {
    font-size: 13px;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10em;
  }

  .bookImage {
    font-size: 14px;
    width: 100%;
    max-width: 21.6em;
    height: 100%;
    object-fit: cover;
    display: flex;
    align-self: center;
    /* margin-left: 0.5em;  */
  }

  #bookYear {
    text-align: center;
    /* width: 6em ;
    height: 3em; */
    font-size: 11px;
  }

  .bookAbout {
    margin-top: 4em;
    font-size: 14px;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 8%;
  }

  .bookInfo {
    text-align: center;
    width: 45em;
  }

  .bookName {
    text-align: center;
    width: 100%;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: 196.187%;

  }

  .authorName {
    color: #241400;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat' sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 196.187%;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    /* margin-left: 2em; */
    /* padding-left: 0.5em; */
  }

  .genre {
    width: 100%;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0.5em;

  }

  .addedDay {
    display: none;
  }

  /* INPUT PART */
  .secondArea {
    /* justify-content: center; */
    align-items: center;
    margin-inline: 8%;
    font-size: 13px;
  }

  .anonimInput {
    width: 25.5em;
    height: 2.5em;
  }

  .sendIcon {
    margin-top: 7.3em;
    padding: 0.5rem;
  }

  .yourComment {
    width: 33.5em;
  }
}

@media screen and (max-width:842px) {
  .bookAbout {
    margin-top: 4em;
  }

  .bookInfo {
    text-align: center;
    width: 35em;
  }

  /* INPUT PART */
  .commentAnonymous {
    font-size: 9px;
  }

  .sendIcon {
    padding: 0.8em;
  }
}

@media screen and (max-width:662px) {
  .bookAbout {
    margin-top: 4em;
  }

  .bookInfo {
    text-align: center;
    width: 25em;
  }

  /* INPUT PART */
  .anonimInput {
    width: 17em;
  }

  .sendIcon {
    padding: 1em;
  }

  .anonimInput::placeholder {
    font-size: 0.8em;
  }

  .yourComment {
    width: 23em;
  }
}

@media screen and (max-width:648px) {
  .bookAbout {
    margin-top: 4em;
  }

  .bookInfo {
    text-align: center;
    width: 25em;
  }

  /* INPUT PART */
  .commentAnonymous {
    font-size: 6px;
  }

  .secondArea {
    margin-inline: 8%;
  }

  .anonimInput {
    width: 17em;
  }

  .sendIcon {
    margin-top: 7.3em;
    padding: 0.7rem;
  }

  .yourComment {
    width: 23.5em;
  }


}

@media screen and (max-width:479px) {

  .bookInfo {
    text-align: center;
    width: 22em;
  }

  /* INPUT PART */
  .commentAnonymous {
    font-size: 5px;
  }

  .secondArea {
    margin-inline: 8%;
  }

  .anonimInput {
    width: 15em;
  }

  .anonimInput::placeholder {
    font-size: 0.87em;
  }

  .sendIcon {
    margin-top: 7.3em;
    padding: 0.8rem;
  }

  .yourComment {
    width: 21em;
  }
}

@media screen and (max-width: 416px) {
  .bookInfo {
    text-align: center;
    width: 20em;
  }

  /* INPUT PART */
  .commentAnonymous {
    font-size: 4px;
  }

  .secondArea {
    margin-inline: 8%;
  }

  .anonimInput {
    width: 14.5em;
    height: 2em;
    padding-left: 1em;
    /* padding-inline: 5px; */
  }

  .anonimInput::placeholder {
    font-size: 0.87em;
  }

  .sendIcon {
    margin-top: 7.4em;
    padding: 0.5rem;
    width: 2.9em;
    height: 2.9em;
  }

  .yourComment {
    width: 19.5em;
  }
}

@media screen and (max-width: 374px) {
  .bookInfo {
    text-align: center;
    width: 19em;
  }

  /* INPUT PART */
  .commentAnonymous {
    font-size: 4px;
  }

  .secondArea {
    margin-inline: 8%;
  }

  .anonimInput {
    width: 13.5em;
    height: 2em;
    /* padding: -10px; */
    padding-left: 1em;
  }

  .sendIcon {
    margin-top: 7.4em;
    padding: 0.7em;
    width: 2.9em;
    height: 2.9em;
  }

  .yourComment {
    width: 18em;
  }
}

@media screen and (max-width:354px) {
  .bookInfo {
    text-align: center;
    width: 17em;
  }

  /* INPUT PART */
  .commentAnonymous {
    font-size: 4px;
  }

  .secondArea {
    margin-inline: 8%;
  }

  .anonimInput {
    width: 11.3em;
    height: 2em;
    /* padding: -10px; */
    padding-left: 0.8em;
  }

  .anonimInput::placeholder {
    font-size: 0.8em;
  }

  .sendIcon {
    margin-top: 7.45em;
    padding: 0.6rem;
    width: 2.95em;
    height: 2.95em;
  }

  .yourComment {
    width: 15.5em;
    /* ADDED this paddings for Added word */
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}