@import url("../general/commonStyle.css ");

.navBar .navMenu a:nth-of-type(2) {
  color: #e16a00;
  text-decoration: underline !important;
  font-weight: 700;
}

 /* MAIN PART OF ABOUTPAGE CSS */
  body{
  background: #FFFAF5;
 }

 main{
  padding-inline: 8%;
  margin-bottom: 12rem;
 } 

 /* ================================== SECTION 1 ============================= */

 .firstArea{
 
  justify-content: start;
  display: flex;
 
 } 

 /* ----------BACK BUTTON------- */
  .backBtn{
  margin-top: 11.1em;
  width: 7.8em;
  height: 2.5em;
  background-color: #E16A00;
   border: none;
  border-radius: 0.3em;
  font-size: 0.9em;
  padding: 0.25em 1,25em;
 
  color: #FFF;
font-family: Montserrat;
text-align: center;
font-size: 12px;
font-style: normal;
font-weight: 900;
line-height: 196.187%; 
text-transform: uppercase;

} 

/* -----------YEAR PART-------------- */
#bookYear{
  margin-top: 5rem;
  text-align: center;
  /* padding-left: 1.5em; */
  width: 6em;
  height: 2.1em;
  background-color:  #2F80ED;
  border-radius: 0.25em;
 
   justify-content: start;
  color: #FFF;
  font-family: Montserrat;
font-size: 0.75em;
font-style: normal;
font-weight: 900;
line-height: 196.187%; 

} 

/* ----------BOOK NAME PART */
 .bookName{
 color: #241400;
font-family: Montserrat;
font-size: 2.2em;
font-style: normal;
font-weight: 700;
line-height: 196.187%; 
width: 9em;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;

} 

/* ------------WHEN ADDED THE BOOK ------------- */
.addedDay{
 color: #241400;
 font-family: Montserrat;
font-size: 1em;
font-style: normal;
font-weight: 700;
line-height: 196.187%; 
margin-bottom: 0.5em;
margin-top: -0.8em;
} 

/* ------------------AUTHOR NAME PART--------- */
.authorName{
  color: #241400;
  font-family: Montserrat;
  font-size: 1.3em;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
   margin-bottom: 0.1em;
   width: 11em;
   overflow: hidden;       
   text-overflow: ellipsis;
   white-space: nowrap; 

} 


/* ----------------------BOOK DESCRIPTION------------ */

.bookInfo{
  width: 35em;
   /* height: 15rem; */
   height: auto;
  color: #241400;
font-family: Montserrat;
font-size: 1.12em;
font-style: normal;
font-weight: 400;
line-height: 196.187%; /* 35.314px */
display: -webkit-box;
-webkit-line-clamp: 7;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;

 } 

 .moreDetail{
  text-decoration: none;
  color: #241400;
  font-family: Montserrat;
  font-size: 1.12em;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
  cursor: pointer;
 }




/* ------------------IMAGE PART------------ */
 .bookImage{
  position: relative;
  margin-left: 11em;
   width: 23.6em;
  height: 33em;
 }

 .bookImage img{
   /* margin-top: -2em; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  
 } 



 /* --------------NEW BOOK SIGN --------------- */

 
 .newSign{
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(235, 87, 87, 1);
  color: white;
  padding: 0.3em 1.5em;
  border-radius: 0.3em;
  box-shadow: 0px 3px 8px 0px #E16A0030;
  z-index: 1;
  font-family: Montserrat;
  font-size: 0.9em;
  text-align: center;
  font-weight: 900;

 }



 /* =================================== SECOND AREA ======================== */

 .secondArea{
    display: flex;
  flex-direction: column;
  justify-content: start;
 } 

 
 .commentObvious{
  display: flex;
  } 

 .anonimInput{
  /* position:absolute; */
  width: 29.5em;
  height: auto;
  margin-top: 5em;
  border-radius: 0.3rem;
  background: rgba(255, 255, 255, 0.80);
  box-shadow: 0 0 10px 2px rgb(196, 186, 186);
   padding: 0.6em;
  padding-left: 2.3em;
  font-size: 1.2rem;
  border: none;
  color: #232323;
font-family: Roboto;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: 1px;
overflow-y: auto;

} 
/* -----------SEND ICON----------- */
 
.sendIcon{
  border-radius: 0.3rem;
padding: 1rem;
background-color: #E16A00;
margin-top: 6em;
width: 3.7em;
height: 3.7em;
/* width: 1.7em; */
/* height: 1.7em; */
flex-shrink: 0;
/* position: relative;
    z-index: 1; */

 }  

/* Umumi div hansiki dinamik gelecek olan commentleri saxlayir */
 .commentAnonymous{
  display: flex;
  flex-direction: column;
  position: relative; 

} 

/* BU DINAMIK DIVIN OZUDUR */
.yourComment{
  width: 39em;
  font-family: Rubik;
  background-color: rgb(253, 253, 253);
  box-shadow:0 0 10px 2px rgb(196, 186, 186) ;
  /* width: 55%; */
  padding: 2em;
  
  font-size: 1rem;
  margin-top: 3.4em;
  border-radius: 0.3rem;
} 


/* BU HISSEYE YENIDEN BAX GORUNMURDU DEYISIKLIK */

.anonim{
  display: flex;
  padding-bottom: 1em;
} 
/* ANONIM YAZISI */
.anonim h4{
 
  color: #232323;
font-family: Rubik;
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: normal;
} 
/* NECE GUN EVVEL YAZILDIGI */

.time{
  margin-left: 1rem;
}
.anonim p{
  color: #232323;
font-family: Rubik;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 24px; 
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 4;
overflow: hidden;
text-overflow: ellipsis;
max-height: calc(1.2rem * 4);
} 








/* ===================== MEDIA QUERY PART ============================ */


@media screen and (min-width: 1440px){

  .firstArea{
    display: flex;
    justify-content: space-between;
  }
  /* INPUT PART +*/
 
}

@media screen and (max-width: 1418px){
  .firstArea{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
  }
  .bookImage {
    width: 100%; 
    max-width: 22.6em; 
    height: 100%;
    object-fit: cover; 
    margin-left: 0.5em; 
  }
 /* INPUT PART */
  .secondArea{
    justify-content: start;
    font-size: 14px;
  }
  .anonimInput{
    width: 27em;
  }
  .sendIcon{
   margin-top: 6.8em;
   padding: 0.5rem;
  }
  .yourComment{
    width: 36em;
  }
}

@media screen and (max-width: 1232px){
    .firstArea{
      display: flex;
      justify-content: space-between;
      font-size: 13px;
    }

    .bookImage {
      width: 100%; 
      max-width: 22.6em;
      height: 100%; 
      object-fit: cover; 
      margin-left: 0.5em; 
    }
 /* INPUT PART */
    .secondArea{
      justify-content: start;
      font-size: 13px;
    }
    .anonimInput{
      width: 24em;
    }
    .sendIcon{
     margin-top: 7.3em;
     padding: 0.5rem;
    }
    .yourComment{
    width: 32em;
   }
}

@media screen and (max-width:1161px){
  .firstArea{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }
  .bookImage {
    width: 100%; 
    max-width: 21.6em;
    height: 100%; 
    object-fit: cover; 
    margin-left: 0.5em; 
  }
   /* INPUT PART */
   .secondArea{
    justify-content: start;
    font-size: 12px;
  }
  .anonimInput{
    width: 22em;
    /* font-size: 12px; */
  }
  .sendIcon{
   margin-top: 8em;
   padding: 0.5rem;
  }
  .yourComment{
  width: 29em;
  height: auto;
 }

}

@media screen and (max-width:1090px){
  .firstArea{
    display: flex;
    justify-content: space-between;
    font-size: 11px;
  }
  .bookImage {
    width: 100%; 
    max-width: 21.6em;
    height: 100%; 
    object-fit: cover; 
    margin-left: 0.5em; 
  }
   /* INPUT PART */

   .secondArea{
    justify-content: start;
    font-size: 11px;
  }
  .anonimInput{
    width: 20em;
  }
  .sendIcon{
   margin-top: 8.9em;
   padding: 0.5rem;
  }
  .yourComment{
  width: 26.5em;
 }
}

@media screen and (max-width: 1000px){
 
  button{
    margin-top: 5em;
  }
  .firstArea{
    font-size: 13px;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10em;
  }

  .bookImage {
    font-size: 14px;
    width: 100%; 
    max-width: 21.6em;
    height: 100%; 
    object-fit: cover; 
    display: flex;
    align-self: center;
    /* margin-left: 0.5em;  */
  }

  #bookYear{
    text-align: center;
    /* width: 6em ;
    height: 3em; */
    font-size: 11px;
  }

  .bookAbout{
    margin-top: 4em;
    font-size: 14px;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 8%;
  }
  .bookInfo{
    text-align: center;
    width: 45em;
  }
  .bookName{
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: 196.187%;  
  }
  .authorName{
    color: #241400;
    /* text-align: center; */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 196.187%;
    margin-top: -0.5em;
  }
  .addedDay{
    display: none;
  }
   /* INPUT PART */
   .secondArea{
    /* justify-content: center; */
    align-items: center;
    margin-inline: 8%;
    font-size: 13px;
  }
  .anonimInput{
    width: 25em;
  }
  .sendIcon{
   margin-top: 7.5em;
   padding: 0.2rem;
  }
  .yourComment{
  width: 33.5em;
 }
}

@media screen and (max-width:842px){
  .bookAbout{
    margin-top: 4em;
  }

  .bookInfo{
    text-align: center;
    width: 35em;
  }
   /* INPUT PART */
   .commentAnonymous{
    font-size: 9px;
   }
}

@media screen and (max-width:662px){
  .bookAbout{
    margin-top: 4em;
  }
  .bookInfo{
    text-align: center;
    width: 25em;
  }
  .anonimInput::placeholder{
    font-size: 0.8em;
  }
   /* INPUT PART */
}

@media screen and (max-width:648px){
  .bookAbout{
    margin-top: 4em;
  }
  .bookInfo{
    text-align: center;
    width: 25em;
  }
   /* INPUT PART */
   .commentAnonymous{
    font-size: 6px;
   }
   .secondArea{
    margin-inline: 8%;
   }
   .anonimInput{
    width: 17em;
  }
  .sendIcon{
   margin-top: 7.5em;
   padding: 0.5rem;
  }
  .yourComment{
  width: 23.5em;
 }


}

@media screen and (max-width:479px){
  
  .bookInfo{
    text-align: center;
    width: 22em;
  }
   /* INPUT PART */
   .commentAnonymous{
    font-size: 5px;
   }
   .secondArea{
    margin-inline: 8%;
   }
   .anonimInput{
    width: 15em;
  }
  .sendIcon{
   margin-top: 7.5em;
   padding: 0.8rem;
  }
  .yourComment{
  width: 21em;
 }
}
@media screen and (max-width: 416px){
  .bookInfo{
    text-align: center;
    width: 20em;
  }
   /* INPUT PART */
   .commentAnonymous{
    font-size: 4px;
   }
   .secondArea{
    margin-inline: 8%;
   }
   .anonimInput{
    width: 13em;
    height: 30px;
    
    padding-inline: 5px;
  }
  .anonimInput::placeholder{
    font-size: 0.5em;
  }
  .sendIcon{
   margin-top: 7.3em;
   padding: 0.5rem;
   width: 2.5em;
   height: 2.5em;
  }
  .yourComment{
  width: 18em;
 }
}

@media screen and (max-width: 374px){
  .bookInfo{
    text-align: center;
    width: 19em;
  }
   /* INPUT PART */
   .commentAnonymous{
    font-size: 4px;
   }
   .secondArea{
    margin-inline: 8%;
   }
   .anonimInput{
    width: 13em;
    height: 30px;
    padding: -10px;
    padding-left: 5px;
  }
  .sendIcon{
   margin-top: 7.3em;
   padding: 0.5rem;
   width: 2.5em;
   height: 2.5em;
  }
  .yourComment{
  width: 18em;
 }
}
@media screen and (max-width:354px){
  .bookInfo{
    text-align: center;
    width: 17em;
  }
   /* INPUT PART */
   .commentAnonymous{
    font-size: 4px;
   }
   .secondArea{
    margin-inline: 8%;
   }
   .anonimInput{
    width: 11.5em;
    height: 30px;
    padding: -10px;
    padding-left: 5px;
  }
  .sendIcon{
   margin-top: 7.3em;
   padding: 0.5rem;
   width: 2.5em;
   height: 2.5em;
  }
  .yourComment{
  width: 15.5em;
 }
}