@import url("../general/fonts/montserratFont.css");
@import url("../general/commonStyle.css");
@import url("../general/loadingSpinner.css");

:root {
  --font-montserrat: "Montserrat", sans-serif;
}
.navBar .navMenu a:nth-of-type(3) {
  color: #e16a00;
  text-decoration: underline !important;
  font-weight: 700;
}

body{
  background: #FFFAF5;

}
.main{
  width:100%;
  padding-inline: 8%;
  visibility: hidden;
}

.container{
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 4.5rem;
  margin-right: 0;
  margin-top: 10rem;
  margin-bottom:17rem ;
 
 
}

.heading{
  width: 42.900rem;
  height: 15rem;
}

.storeTitle{
  width: 23rem;
  height: 4.438rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 4.414rem;
  text-align: left;
}
 
.storeDesc{
  width:42.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 2.207rem;
}
.image{
  width: 35rem;
  height: 19rem;
  margin-top: 4rem;
  
 }

.storeImg{
  width:100%;
  height: 100%;
  object-fit: fill;
  
}


@media (max-width:1365px){
  .storeTitle {
    margin-left: 1.1rem;
    width: 100%;
    height: auto;
    /* font-size: 1.6rem; */
    line-height: 3rem;
    
  }

  .storeDesc {
    width: 100%;
    /* line-height: 1.5rem; */
    padding-top: 1em;
    }

 
  .storeImg {
    width: 100%;
  }
}

@media (max-width: 1200px) {

  .heading {
    width: 100%;
    height: 100%;
    gap:1rem;
  }

  .storeTitle {
    margin-left: 1.1rem;
    width: 100%;
    height: auto;
    line-height: 3rem;
    
  }

  .storeDesc {
    width: 100%;
    
    }

 
  .storeImg {
    width: 100%;
  }
}

@media only screen and (max-width: 1000px){
  .main{
    padding-inline: 8%;
    overflow: hidden;
  }

  .container{
    max-width: 100%;
    flex-direction: column-reverse;
    gap: 3.5rem;
    margin-top: 3rem !important;
    margin-bottom: 10rem;
  }

  .heading{
    max-width: 100%;
    /* height: 10rem; */
  }

  .storeTitle{
    text-align: center;
    max-width: 100%;
    height: 2.5rem;
    font-size: 1.5rem;
  }

  .storeDesc{
    font-family:  "Montserrat", sans-serif;
    text-align: center;
    max-width: 100%;
    font-size: 1.3rem;
    /* margin: 0 auto; */
    /* padding: 1rem; */
  }

  .image{
    margin: 0 auto;
    width:100%;
    height: auto;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .main{
    padding-inline: 8%;
    overflow: hidden;
  }

  .container{
    max-width: 100%;
    gap: 2rem;

  }

  .heading{
    max-width: 100%;
    /* height: 10rem; */
  }

  .storeTitle{
    text-align: center;
    max-width: 100%;
    height: 2.5rem;
    font-size: 1.5rem;
  }

  .storeDesc{
    font-family:  "Montserrat", sans-serif;
    text-align: center;
    max-width: 100%;
    font-size: 1.2rem;
    /* margin: 0 auto; */
    /* padding: 1rem; */
  }

  .image{
    margin: 0 auto;
    width:100%;
    height: auto;
    margin-top: 2rem;
  }
}



/* Styles for screens smaller than 480px */
@media only screen and (max-width: 480px) {
  .main{
    padding-inline: 5%;
    overflow: hidden;
    margin-bottom: 0.5em;
  }

  .container{
    max-width: 100%;
    /* gap: 4rem; */
  }

  .heading{
    max-width: 100%;
    /* height: 8rem; */
  }

  .storeTitle{
    text-align: center;
    max-width: 100%;
    height: 2em;
    font-size: 1.3rem;
    margin-left: 0em;
  }

  .storeDesc{
    font-family:  "Montserrat", sans-serif;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
  }

  .image{
    margin: 0 auto;
    width: 100%;
    height: auto;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 444px){
  .storeDesc{
    font-family:  "Montserrat", sans-serif;
    font-size: 1.125rem;
  }
  .container {
    max-width: 100%;
    gap: 1rem;
    margin-bottom: 8rem;
  }
}


@media only screen and (max-width: 330px) {
  .main {
    padding-inline: 6%;}

  .container {
    max-width: 100%;
    gap: 1rem;
    /* margin-top: 2.5rem; */
    margin-bottom: 6rem;
  }

  .heading {
    text-align: center;
    max-width: 100%;
    height: auto;
    /* padding-inline: 8%; */
  }

  .storeTitle {
    text-align: center;
    max-width: 100%;
    height: 1.1em;
    font-size: 1.5rem;
    margin-bottom: 0.2em;
    margin-top: 1.4em;
    /* margin-left: 0em; */

  }

  .storeDesc {
    font-family:  "Montserrat", sans-serif;
    text-align: center;
    width: 100%;
    font-size:1rem;
    /* margin: 0 auto; */
  }

  .image {
    margin: 0 auto;
    /* padding-inline: 8%; */
    width: 100%;
    height: auto;
    margin-top: 1rem;
  }
}